			*{
  margin:0;
  padding:0;
}

body{
  font-family:arial,sans-serif;
  font-size:100%;
  background:#fff;
  color:#000;
  margin:0 10px;
}

svg{
  float: left;
  margin: 10px 0 0 20px;
}

form{
  float: right;
  margin: 30px 20px;
}

form label{
  float: left;
  font-size: 18px;
  font-weight:bold;
}

form #description{
  float: left;
  clear: left;
  width: 300px;
  height: 100px;
}

form #add{
  float: left;
  clear: left;
  background-color: #42145F;
  margin-top: 5px;
  border-radius: 5px;
  color: #fff;
  border:0;
  padding: 5px 10px;
  cursor:  pointer;
}

ul,li{
  list-style:none;
}

ul li, .draggable {
  margin:0.2em;
  float:left;
  color:#000;
  background:#FFC62F;
  display:block;
  height:15em;
  width:20em;
  padding: 0.5em;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

ul li:nth-of-type(5n+1){
  background-color: #00AFAA;
}
ul li:nth-of-type(5n+2){
  background-color: #0089CF;
}
ul li:nth-of-type(5n+3){
  background-color: #9ACA3C;
}
ul li:nth-of-type(5n+4){
  background-color: #F36C24;
}

input, button {
	padding: 3px;
}

.category {
  background-color: #999;
  margin: 10px;
}

.droppable {
  background: #666;
}

.drop-hover {
  background: #ccc;
}

.ui-draggable-dragging {
  box-shadow:5px 5px 5px #666;
}

h1, h2 {
  text-align: center;
  margin: 10px;
}

li .votes{
  position: absolute;
  left:0;
  bottom:0;
  padding: 0 0 10px 10px;
}

#sidebar {
  float: left;
  clear: both;
  border: 4px dotted #999;
  margin: 10px auto;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
}

#myitems, .category ul {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}